body{
	font-family: Helvetica;
	font-size:100%;
	background-color:white;
	background-color:beige;
}

h1{
	font-family:georgia;
	color:green;
}

/*button*/
[type=submit], [type=reset]{
	color: white;
    background-color: green;
    font-weight: bold;
    height: 40px;
    width: 70px;
	font-size:16px;
	margin-left:15px;
	box-shadow: 5px 5px 5px gray;
}

b{
	margin-left:15px;
	color:green;
}


input{
	margin-left:15px;
	margin-top:5px;
	;
}

[type=text],[type=password]{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
}



